
  <div class="card mb-3" style="max-width: 540px; display: inline;" *ngFor="let movie of movies">
    <div class="row g-0 app-clickable" [routerLink]="['/movies-details', movie.imdbID]">
      <div class="col-md-4">
        <img
          src="{{movie.Poster}}"
          alt="Trendy Pants and Shoes"
          class="img-fluid rounded-start"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{movie?.Title}}</h5>
          <p class="card-text">{{movie?.Type}}</p>
          <p class="card-text">
            <small class="text-muted">{{movie?.Year}}</small>
          </p>
        </div>
      </div>
    </div>
  </div>



